streamlit
langchain
langchain-community
qdrant-client
python-dotenv
ollama
python-dotenv
tqdm
argparse

qdrant-client
sentence-transformers>=2.2.0
langchain
langchain-google-genai
langchain-community 
langchain-qdrant
langchain-huggingface
langchain-ollama
streamlit
psutil
python-docx
ftfy